*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}


#time{
	margin-top: 10px;
	font-size: 3em;
}
#date{
	margin-top: 20px;
	color: gray;
}
button{
	margin-top: 50px;
	background-color: black ;
	color: white;
}
#clock{
	margin:  100px auto;
	height: 200px;
	width: 200px;
	border: 2px solid red;
	border-radius: 50%;
	position: relative;
	
}
#hour,#minute{
	width: 1%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-100%);
	transform-origin: bottom;
	z-index: 1;
	border-radius: 1em;

}
#center
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    margin: auto;
    z-index: 10;
}
#hour{
	height: 25%;
	background-color: red;
}
#minute{
	height: 30%;
	background-color: red;
}
#second{
	height: 50%;
	background-color: red;
}
#second{
	width: 1%;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%,-100%);
	transform-origin: bottom;
	z-index: 5;
	border-radius: 1em;

}
